<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Company LOGO', root_path, {:class => "a"} %>
            <nav>
            <ul class="navul">
                <li class="link">
                    <%= link_to 'Home', root_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'About Us', aboutus_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Services', services_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Contact Us', contactus_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>
<body>
<div class="jumbotron">
        <%= image_tag('header.png') %>
</div>

 <div class="servicepage">
        <h2 class="welcomeheader">Our Services</h2>
        <h3 class="welcomeheadertwo">Website Design & Development </h3>
            <p> Our process for all services begins with a complimentary 40-minute consultation and a questionnaire where we will learn more about you and your business needs are, and answer any questions that you might have.</p>
            <br>
            <p> The possibilities are endless.</p>
</div>
<div class="buttoncontainer">
    <button class="button">Free Consultation</button>
</div>
<div class="wrapper">
    <div class="box1">
        <%= image_tag('logodesign_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header"> Logo Design</h3>
        <p class="servicepage_description">
        We will take the time to really understand what message you would like to send and create a meaningful logo for your business.
        </p>
        <ul>
            <li>Primary Logo</li>
            <li>Secondary Logo</li>
            <li>Alternative Logo Options </li>
            <li>Alternative Logo Options </li>
            <li>Creative Direction </li>
            <li>User Prefrance Testing </li>
        </ul>
    </div>
    <div class="box2">Two</div>
    <div class="box3">Three</div>
    <div class="box4">Four</div>
    <div class="box5">Five</div>
</div>



