<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Company LOGO', root_path, {:class => "a"} %>
            <nav>
            <ul class="navul">
                <li class="link">
                    <%= link_to 'Home', root_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'About Us', aboutus_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Services', services_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Contact Us', contactus_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>
<body>
<div class="jumbotron">
        <%= image_tag('header.png') %>
</div>

 <div class="servicepage">
        <h2 class="welcomeheader">Our Services</h2>
        <h3 class="welcomeheadertwo">Website Design & Development </h3>
            <p> Our process for all services begins with a complimentary 40-minute consultation and a questionnaire where we will learn more about you and your business needs are, and answer any questions that you might have.</p>
            <br>
            <p> The possibilities are endless.</p>
</div>
<div class="buttoncontainer">
    <button class="button">Free Consultation</button>
</div>
<div class="wrapper">
    <div class="box1">
        <%= image_tag('logodesign_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header"> Logo Design</h3>
        <p class="servicepage_description">
        We will take the time to really understand what message you would like to send and create a meaningful logo for your business.
        </p>
        <ul>
            <li>Primary Logo</li>
            <li>Secondary Logo</li>
            <li>Alternative Logo Options </li>
            <li>Alternative Logo Options </li>
            <li>Creative Direction </li>
            <li>User Prefrance Testing </li>
        </ul>
    </div>
    <div class="box2">
        <%= image_tag('webdesign_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header"> Web Design & Development</h3>
        <p class="servicepage_description">
        From concept to development our team will deliver a beautiful responsive website to help your business thrive.
        </p>
        <ul>
            <li>Low Fidelty Wireframes(Designs) and Iterations</li>
            <li>High Fidelty Wireframes(Designs) and Iterations</li>
            <li>Fully Responsive and Deployed Website</li>
            <li>Creative Direction</li>
        </ul>    
    </div>
    <div class="box3">
        <%= image_tag('seo_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header"> Search Engine Optimization</h3>
        <p class="servicepage_description">
        We ensure that your clients are able to find your company with little effort in order to help make your business successful. 
        </p>
        <ul>
            <li>Specialize Content</li>
            <li>Quality Domains</li>
            <li>Website and Server Optimizations</li>
        </ul> 
    </div>
        <div class="box4">
        <%= image_tag('websitemaintenance_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header">Website Maintenance</h3>
        <p class="servicepage_description">
        Our team is available for any website maintenance you may came across. We are here to make your life easier.
        </p>
        <ul>
            <li>Content Updates</li>
            <li>Creative Directtion</li>
            <li>Alternative Options</li>
        </ul>
    </div>
    <div class="box5">
        <%= image_tag('contentdevelopment_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header">Content Development</h3>
        <p class="servicepage_description">
        We have proffesional writers that will ensure the message your business wants to comminicate is relayed to your clients.
        </p>
        <ul>
            <li>Specialized Content</li>
            <li>User Centered Content and Engagment</li>
            <li>Editing</li>
            <li>Creative Direction</li>
        </ul>
    </div>
    <div class="box3">
        <%= image_tag('branding_icon.png', :class => "serviceslogodesignimg") %>
        <h3 class="servicepage_header">Branding</h3>
        <p class="servicepage_description">
        We provide creative consulting and direction to help create a meaningful brand for your business. Things incuded in this service include: 
        </p>
        <ul>
            <li>Color Pallet</li>
            <li>Typography Set</li>
            <li>Style Guide</li>
            <li>Mood Board</li>
        </ul>
    </div>
</div>



