<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Company LOGO', root_path, {:class => "a"} %>
            <nav>
            <ul class="navul">
                <li class="link">
                    <%= link_to 'Home', root_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'About Us', aboutus_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Services', services_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <button class="contactus a" id="contactus">
                        Contact Us
                    </button>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>
<body>
        <div class="jumbotron">
                <%= image_tag('header.png', :class => "imagess") %>
        </div>
        <div class="bodycontainer">
            <div class= "welcomeimage">
                <%= image_tag('firstimage.jpg') %>
            </div>
        
            <div class="bodylorem">
                <h2 class="welcomeheader">Let Us Simplify Your Business</h2>
                <h3 class="welcomeheadertwo">Website Design & Development </h3>
                <p> Aloe Design Co. is a creative business located in beauitful Denver, Colorado working with clients nation wide.</p>
                <br>
                <p> We provide high quality web design and development, brand identity, and creative direction for entrepreneurs and small businesses. The possibilites are endless on how we can help your business thrive.</p>
                <br>
                <p> We are here to help you bring your vision to life through creative direction and development.</p>
            </div>
        </div>
        <div class="buttoncontainer">
        <button class="button">Free Consultation</button>
        </div>



        <div class="servicesbackground">
            <h2 class="serviceheader">Our Services</h2>
            <div class="servicescontainer">
                <div class="service">
                    <%= image_tag('branding_icon.png', :class => "responsiveimg") %>
                    <h3 class="servicehead">
                        Branding
                    </h3>
                    <p class="servicedescription">
                    We provide creative consulting and direction to help create a meaningful brand for your business.
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('webdesign_icon.png', :class => "responsiveimg")  %>
                    <h3 class="servicehead">
                        Web Design & Development
                    </h3>
                    <p class="servicedescription">
                    From concept to development our team will deliver a beutiful responsive website to help your business thrive.
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('logodesign_icon.png', :class => "responsiveimg")  %>
                    <h3 class="servicehead">
                        Logo Design
                    </h3>
                    <p class="servicedescription">
                    We will take the time to really understand what message you would like to send and create a meaningful logo for your business.
                    </p>
                </div>
            </div>
            <div class="servicescontainer">
                <div class="service">
                    <%= image_tag('seo_icon.png', :class => "responsiveimg")  %>
                    <h3 class="servicehead">
                        SEO
                    </h3>
                    <p class="servicedescription">
                    We ensure that your clients are able to find your company with little effort in order to help make your business successful. 
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('contentdevelopment_icon.png', :class => "responsiveimg")  %>
                    <h3 class="servicehead">
                        Content Development
                    </h3>
                    <p class="servicedescription">
                    We have proffesional writers that will ensure the message your business wants to comminicate is relayed to your clients.
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('websitemaintenance_icon.png', :class => "responsiveimg")  %>
                    <h3 class="servicehead">
                        Website Maintenance
                    </h3>
                    <p class="servicedescription">
                    Our team is available for any website maintenance you may came across. We are here to make your life easier.
                    </p>
                </div>
            </div>
            <div class="buttoncontainer">
            <button class="button">Learn More</button>
            </div>
        </div>
        


        <div class="bodycontainer">
            <div class="bodylorem">
                <h2 class="welcomeheader">Meet the founders!</h2>
                <h3 class="welcomeheadertwo">Website Design & Development </h3>
                    <p> Aloe Design Co. was founded by a couple in Denver, Colorado who believes that entreponours and small business are what keep our economy going. As a is a fellow small business, we have worked hard to brand ourselves as a company that you as a business owner can trust with your web design needs.</p>
                    <br>
                    <p>We pride ourselves on providing great communication, high quality deliverables, and cost effective services. We love what we do and cant wait to meet you and turn your vision into a reality. </p>
            </div>
            <div class= "welcomeimage">
                <%= image_tag('founders.png') %>
            </div> 
        </div>


        <div class="servicesbackground">
        <div class="bodycontainer">
            <div class= "welcomeimage">
                <%= image_tag('consult_photo.jpg', :class => "consultimage" )%>
            </div> 
            <div class="bodylorem" id="formbox">
                <h1 class="formTitle">Free Consultation</h1>
                <%= form_with scope: :user, url: users_path, local: true do |f| %>
                    <p>
                        <div class="formstuff">
                            <%= f.text_field :name, class: "formTextField" %></br>
                            <%= f.label :name, class: "formLabel" %></br>
                        </div>

                        <div class="formstuff">
                            <%= f.text_field :email, class: "formTextField" %></br>
                            <%= f.label :email, class: "formLabel" %></br>
                        </div>
                
                        <div class="formstuff">
                            <%= f.text_field :phonenumber, class: "formTextField" %></br>
                            <%= f.label :phonenumber, class: "formLabel" %></br>
                        </div>
                
                        <div>
                            <%= f.submit class: "button formButton", value: "Submit" %>
                        </div>
                
                    </p>
                <% end %>
            </div>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>

</body>