<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Home', root_path, {:class => "a"} %>
            <nav>
            <ul>
                <li class="link">
                    <a href="#">
                        About
                    </a>
                </li>
                <li class="link">
                    <%= link_to 'Sign up', new_user_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>
<body>
        <div class="jumbotron">
                <%= image_tag('office_photo.jpg') %>
        </div>
        <div class="bodycontainer">
            <div class= "welcomeimage">
                <%= image_tag('beer.png') %>
            </div>
        
            <div class="bodylorem">
                <h2 class="welcomeheader">Our Business</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl felis, vehicula consequat arcu eu, venenatis euismod augue. Sed non lacinia augue, ut feugiat elit. Suspendisse potenti. Ut a tempus odio. Praesent nec magna in est efficitur pulvinar ut et purus. Pellentesque viverra lorem ut est pellentesque, id hendrerit metus porttitor. Nunc varius elementum ante non mollis. Donec semper lobortis libero, sollicitudin luctus nisl eleifend in. Aenean scelerisque dictum libero, vitae venenatis sapien euismod sit amet. Quisque hendrerit suscipit purus, aliquam pulvinar lacus egestas vel. Quisque volutpat, est tristique efficitur convallis, erat nunc maximus lectus, ut dapibus libero magna nec nisi. Praesent turpis risus, pulvinar vitae elementum nec, sodales posuere justo. Nullam vitae turpis arcu.
                </p>
            </div>
        </div>



        <div class="servicesbackground">
            <h2 class="serviceheader">Services</h2>
            <div class="servicescontainer">
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
            </div>
            <div class="servicescontainer">
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
                <div class="service">
                    <%= image_tag('beer.png') %>
                    <h3>
                        Service
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl feli
                    </p>
                </div>
            </div>
        </div>



        <div class="bodycontainer">
            <div class="bodylorem">
                <h2 class="welcomeheader">Our Business</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl felis, vehicula consequat arcu eu, venenatis euismod augue. Sed non lacinia augue, ut feugiat elit. Suspendisse potenti. Ut a tempus odio. Praesent nec magna in est efficitur pulvinar ut et purus. Pellentesque viverra lorem ut est pellentesque, id hendrerit metus porttitor. Nunc varius elementum ante non mollis. Donec semper lobortis libero, sollicitudin luctus nisl eleifend in. Aenean scelerisque dictum libero, vitae venenatis sapien euismod sit amet. Quisque hendrerit suscipit purus, aliquam pulvinar lacus egestas vel. Quisque volutpat, est tristique efficitur convallis, erat nunc maximus lectus, ut dapibus libero magna nec nisi. Praesent turpis risus, pulvinar vitae elementum nec, sodales posuere justo. Nullam vitae turpis arcu.
                    </p>
            </div>
            <div class= "welcomeimage">
                <%= image_tag('beer.png') %>
            </div> 
        </div>

</body>