<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Company LOGO', root_path, {:class => "a"} %>
            <nav>
            <ul class="navul">
                <li class="link">
                    <%= link_to 'Home', root_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'About Us', aboutus_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Services', root_path, {:class => "a"} %>
                </li>
                <li class="link">
                    <%= link_to 'Contact Us', contactus_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>

<h1>About us Page</h1>